@font-face {
  font-family: 'Bebas Neue';
  src: url("fonts/BebasNeue.otf") format("opentype");
}
.navbar-inverse {
  font-family: 'Bebas Neue';
  font-size: 24px;
  background-color: #141213;
  border-color: #141213;
}
.logo {
  font-family: 'Bebas Neue';
  font-size: 40px;
  text-align: center;
}
.logo a {
  color: #141213;
  background: white;
}
.logo a:hover {
  opacity: 0.9;
  text-decoration: none;
}
.banner-bg {
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-search label {
  display: none;
}
.banner-search h2 {
  font-family: 'Bebas Neue';
  font-size: 30px;
}

.banner-search input:not([type="submit"]) {
  padding: 10px;
}
