@font-face {
  font-family: 'Bebas Neue';
  src: url("fonts/BebasNeue.otf") format("opentype");
}
.navbar-inverse {
  font-family: 'Bebas Neue';
  font-size: 24px;
  background-color: #141213;
  border-color: #141213;
}
.logo {
  font-family: 'Bebas Neue';
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #141213;
}
.logo a {
  color: #141213;
  background: white;
}
.logo a:hover {
  opacity: 0.9;
  text-decoration: none;
}
.banner-bg {
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
}
.banner-bg .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
}
.banner-search label {
  display: none;
}
.banner-search h2 {
  font-family: 'Bebas Neue';
  font-size: 40px;
  text-align: center;
  color: white;
}

.banner-search form div:first-child {
  width: calc(100% - 100px);
  float: left;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.banner-search form div:first-child input {
  padding: 31px;
  width: 100%;
  border: none;
  font-size: 30px;
  background: rgba(255,255,255,.6);
}
.banner-search form div:nth-child(2) {
  width: 100px;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.banner-search form div:nth-child(2) input {
  background: url(../images/searchbutton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  cursor: pointer;
  padding: 10px 0;
  color: transparent;
  border: none;
  font-size: 30px;
}

.more-info {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px 10px;
  margin-bottom: -20px;
}
.more-info h2 {
  font-family: 'Bebas Neue';
  font-size: 40px;
  text-align: center;
  color: white;
}

h1,
h2 {
  font-family: 'Bebas Neue';
  font-size: 40px;
  text-align: center;
}

.image-menu {
  color: gray;
}
.image-menu a {
  color: gray;
  text-decoration: none;
}
.image-menu img {
  width: 100%;
  height: auto;
}
.footer {
  background: #141213;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  color: white;
}
.teaser h1,
.teaser h2 {
  text-align: left;
  color: #141213;
}
.teaser h2 a {
  color: #141213;
}
.teaser h2 a:hover {
  opacity: 0.9;
  text-decoration: none;
}
.links.inline {
  padding: 0;
  list-style: none;
}
.links.inline li {
  display: inline-block;
  padding-right: 5px;
}
.nav.nav-tabs {
  margin-bottom: 20px;
}
.courts h2 {
  text-align: left;
}
.car-review-teaser h2 {
  text-align: left;
  margin-top: 0;
}
.car-listing-teaser h2 {
  text-align: left;
  margin-top: 0;
}
h2 a {
  color: #141213;
}
h2 a:hover {
  opacity: 0.9;
  text-decoration: none;
}
.car-review-teaser,
.car-listing-teaser {
  margin-top: 20px;
  margin-bottom: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 47%;
    transform: translatex(-50%);
  }
}
.comment {
  padding: 10px;
  border: solid 1px #d0d0d0;
  background-color: #efefef;
}
